<h1>All Shelter Reviews</h1>

<% @shelter_reviews.each do |shelter_review| %>
  <p><%= shelter_review.title %></p>
  <p><%= shelter_review.rating %></p>
  <p><%= shelter_review.content %></p>
  <p><%= shelter_review.image %></p>
<% end %>
