
<div class="center">
  <h2>Welcome to the Shelter Directory</h2>
  <img src=
  "https://d17fnq9dkz9hgj.cloudfront.net/uploads/2018/08/PF2015_275_KennelDog_Shelter.jpg"
  alt="Shelter"
  width=700
  height=500>
</div>
<div class="main">
   <br>
   <h3>Welcome to the <i>Adopt, Don't Shop!</i> shelter directory.</h3>
   <p>Back in 1991, a young woman named Henrietta Greenspoon wanted to find a way to help pets in need of good homes in Massachusetts. She gathered support in her community – including some of Massachusetts’s most prominent citizens of the time – and that very same year, Henrietta founded the Adopt, Don't Shop! network of animal shelters.
   <p>We are proud to say that our network is the largest collection of shelters in the state. As an independent nonprofit organization, ADS does not receive any funding from the government and is not associated with any national animal welfare groups. The pets rely solely on the generosity and support of donors and volunteers.</p>
</div>
