<h1>All Applications for <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h1>

<div class="applicants">
  <% if @applications.nil? || @applications.empty? %>
    <p><%= "#{@pet.name} has no applicants yet." %></p>
  <% else %>
    <% @applications.each do |application| %>
      <p><%= link_to "#{application.name}", "/applications/#{application.id}" %></p>
    <% end %>
  <% end %>
</div>
