.info {
  background-color: lightblue;
  text-align: center;
  margin: auto;
  border: 2px solid midnightblue;
  border-radius: 5px;
  width: 30%;
}

.pet {
  display: inline-block;
  margin: 10px 10px;
  overflow: hidden;
  height: 100%;
  width: 250px;
  vertical-align: top;
}

.pet img {
  text-align: center;
  height: 250px;
  width: 250px;
}

.pet h3 {
  text-align: center
}

.pet p {
  margin-left: 20px;
  margin-right: 10px;
}
